/* *{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: center;
     align-items: center; 
    flex-direction: row;
    height: 100vh;
    width: 100vh;
} */

a:hover{
    cursor: pointer;

}

.centralizado{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    /* margin: 50px 0px 0px 60px; */
}

.div2{
     margin: 30px 120px 0px 120px; 

    
}

.paginacao{
    margin: 0px 200px 0px 200px;
}

.div1{
    margin:  30px 120px 0px 120px; 
}