*{
    margin: 0%;
    padding: 0%;
}

.formularios{
    display: flex;
    flex-direction: column;
}

.cadastro{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

li{
    list-style: none;
}